            <a href="#b" id="b" accesskey="b" class="acc" title="下部のメニュー(B)">:::</a>
            <div class="sponsors">
                <!--※ 提醒小幫手-->
                <!--贊助單位圖片的ALT要有圖片上每個贊助單位的名稱-->
                <img src="https://dummyimage.com/810x50/#e9ebee/000?retina=1&text=sponsors" alt="ALT要填寫圖片上每個贊助單位的名稱">
            </div>
            <div class="mainfooter">
                <div class="side-left">

                    <div class="copyright">
                        <p>国立故宮博物院著作権所有</p>
                        <p>Copyright © National Palace Museum. All Rights Reserved.</p>
                        <p>本サイトはIE11以上、Google Chrome最新バージョンでの閲覧を推奨しております。（推奨解像度1920*1080）</p>

                        <!--※ 提醒小幫手-->
                        <!--不需通過無障礙的網站請記得拿掉這兩個標章-->
                        <!--需要通過無障礙的網站請記得先隱藏起來，取得標章後再顯示-->
                        <div class="acc-mark">
                            <a href="#" title="無障害サイト設計の標章AA（新しい窓を開けて）" target="_blank">無障害サイト設計の標章AA</a>
                        </div>

                        <div class="gov-mark">
                            <a href="https://www.gov.tw/" title="私のE政府（新しい窓を開けて）" target="_blank">私のE政府</a>
                        </div>

                    </div>

                </div>
                <div class="side-right">
                    <ul class="footer-list">
                        <li>
                            <!--※ 提醒小幫手-->
                            <!--請記得填寫展場位置的網址（每個展覽不一定一樣）-->
                            <!--下方按鈕要注意是否為該展覽的樓層（或該語言版本）-->
                            <a href="https://www.npm.gov.tw/ja/" class="footer-btn icon-position" target="_blank" title="展示場の位置（新しい窓を開けて）">
                                <span>展示場の位置</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npm.gov.tw/ja/Article.aspx?sNo=02007001" class="footer-btn icon-info" target="_blank" title="開館時間と観覧料金（新しい窓を開けて）">
                                <span>開館時間と観覧料金</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npm.gov.tw/en/Article.aspx?sNo=02000310" class="footer-btn icon-member" target="_blank" title="故宮ネット会員のご登録はこちらから（新しい窓を開けて）">
                                <span>故宮ネット会員のご登録はこちらから</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/npmgov" class="footer-btn icon-facebook" target="_blank" title="故宮公式FaceBookこちらから（新しい窓を開けて）">
                                <span>故宮公式FaceBookこちらから</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>