                    <a href="#u" id="u" accesskey="u" class="acc" title="上部のメニュー(U)">:::</a>
                    <div class="topnav-item sitemap">
                        <a href="./sitemap.html#main" class="sitemap-btn" title="サイトマップ">サイトマップ</a>
                    </div>
                    <div class="topnav-item share">
                        <a href="javascript:;" class="share-btn" title="Share">Share</a>
                        <ul class="share-list">
                            <li>
                                <a href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));" class="icon-facebook" title="facebook（新しい窓を開けて）">facebook</a>
                            </li>
                            <li>
                                <a href="javascript: void(window.open('http://line.me/R/msg/text/?'.concat(encodeURIComponent(location.href)) ));"
                                class="icon-line" title="line（新しい窓を開けて）">line</a>
                            </li>
                            <li>
                                <a href="javascript: void(window.open('http://www.plurk.com/?qualifier=shares&amp;status=' .concat(encodeURIComponent(location.href)) .concat(' ') .concat('(') .concat(encodeURIComponent(document.title)) .concat(')')));" class="icon-plurk" title="plurk（新しい窓を開けて）">plurk</a>
                            </li>
                            <li><a href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href))));" class="icon-twitter" title="twitter（新しい窓を開けて）">twitter</a>
                            </li>
                        </ul>
                    </div>