            <a href="#b" id="b" accesskey="b" class="acc" title="Bottom Menu Links Area Key (B)">:::</a>
            <div class="sponsors">
                <!--※ 提醒小幫手-->
                <!--贊助單位圖片的ALT要有圖片上每個贊助單位的名稱-->
                <img src="https://dummyimage.com/810x50/#e9ebee/000?retina=1&text=sponsors" alt="ALT要填寫圖片上每個贊助單位的名稱">
            </div>
            <div class="mainfooter">
                <div class="side-left">

                    <div class="copyright">
                        <p>Copyright © National Palace Museum. All Rights Reserved.</p>
                        <p>Browser: IE11 or above, Google Chrome latest version. (Suggested resolution, 1920x1080 or greater.)</p>
                    
                        <!--※ 提醒小幫手-->
                        <!--不需通過無障礙的網站請記得拿掉這兩個標章-->
                        <!--需要通過無障礙的網站請記得先隱藏起來，取得標章後再顯示-->
                        <div class="acc-mark">
                            <a href="#" title="Accessibility (New Window)" target="_blank">Accessibility</a>
                        </div>
                    
                        <div class="gov-mark">
                            <a href="https://www.gov.tw/" title="我的E政府 (New Window)" target="_blank">我的E政府</a>
                        </div>
                    </div>

                </div>
                <div class="side-right">
                    <ul class="footer-list">
                        <li>
                            <!--※ 提醒小幫手-->
                            <!--請記得填寫展場位置的網址（每個展覽不一定一樣）-->
                            <!--下方按鈕要注意是否為該展覽的樓層（或該語言版本）-->
                            <a href="https://www.npm.gov.tw/en/" class="footer-btn icon-position" target="_blank" title="Gallery Location (New Window)">
                                <span>Gallery Location</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npm.gov.tw/en/Article.aspx?sNo=02007001" class="footer-btn icon-info" target="_blank" title="Hours & Ticket Prices (New Window)">
                                <span>Hours & Ticket Prices</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npm.gov.tw/en/article.aspx?sno=02000310" class="footer-btn icon-member" target="_blank" title="Become a NPM Member for Free (New Window)">
                                <span>Become a NPM Member for Free</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/npmgov/" class="footer-btn icon-facebook" target="_blank" title="Like Us on Facebook (New Window)">
                                <span>Like Us on Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>