                            <div class="features">
                                <a href="#content-anchor" class="skiptoolbar" title="Skip Toolbar">Skip Toolbar</a>
                                <ul class="fontsize">
                                    <li><a href="javascript:;" class="fontsize-btn fontsize-btn-plus" title="Font Size Increase">Font Size Increase</a></li>
                                    <li><a href="javascript:;" class="fontsize-btn fontsize-btn-dec" title="Font Size Decrease">Font Size Decrease</a></li>
                                </ul>
                                <div id="content-anchor"></div>
                            </div>